<div class="container main_container mt-4">
    <div class="header">
        <p class="calc_title">Polynôme</p>
        <div class="container_theme-selector">
          <p class="ptheme mt-4">THEME</p>
          <div class="selector-container">
            <div class="positions-theme">
              <p class="pposition">1</p>
              <p class="pposition">2</p>
              <p class="pposition">3</p>
            </div>
            <div class="input-range">
              <div class="container-balls">
                <div [ngClass]="selector === 1 ? 'ball-selected' : 'ball-noselected'" (click)="switch(1)"></div>
                <div [ngClass]="selector === 2 ? 'ball-selected' : 'ball-noselected'" (click)="switch(2)"></div>
                <div [ngClass]="selector === 3 ? 'ball-selected' : 'ball-noselected'" (click)="switch(3)"></div>
              </div>       
            </div>
          </div>
        </div>
        
        
      </div>
      
    
    <div class="keyboard-container mt-3">
        <div class="keyboard">
            <div class="login-container">
                <h2 class="titre">Créer un compte</h2>
                <form (ngSubmit)="onSubmit()" #inscriptionForm="ngForm">
                  <div class="form-group">
                    <label for="username">Nom</label>
                    <input type="text" id="name" class="form-control" name="name" required [(ngModel)]="userData.nom" />
                  </div>
                  <div class="form-group">
                    <label for="username">Prénom</label>
                    <input type="text" id="prenom" class="form-control" name="prenom"  [(ngModel)]="userData.prenom" required />
                  </div>
                  <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" id="email" class="form-control" name="email" [(ngModel)]="userData.email"  required />
                  </div>
                  <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" class="form-control"  name="password" [(ngModel)]="userData.password" required />
                  </div>
                  <div class="form-group">
                    <label for="password">Confirmer mot de passe</label>
                    <input type="password" id="confirme" class="form-control"  name="confirme"  [(ngModel)]="confirmPassword"  required />
                  </div>
                  <button type="submit" class="btn-connect" >
                    <span >Créer</span>
                  </button>
                </form>
              </div>
              
        </div>
      </div>
    </div>  